body {
}

.carousel-control-prev, .carousel-control-next{
    top: 50%;
    transform: translateY(-50%);
}

.produtoItem:hover {
    transform: translateY(-5px);
}

.produtoItem img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.produtoItem h3{
    font-size: 1.2em;
    margin: 10px 0;
}

.produtoItem p{
    margin: 5px 0;
}

.prodDetalhes {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

    .prodDetalhes img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .prodDetalhes h3 {
        font-size: 1.5em;
        margin: 10px 0;
    }

    .prodDetalhes p {
        margin: 5px 0;
    }

    .prodDetalhes .preco {
        font-size: 1.3em;
        color: #28a745;
        font-weight: bold;
    }

    .prodDetalhes .descricao {
        font-size: 1em;
        color: #666;
    }

    .prodDetalhes .info {
        font-size: 1em;
        color: #666;
    }

    .prodDetalhes .usuario{
        font-size: 1em;
        color: #666;
    }

